input{
    border-radius: 10px;
    margin-top: 10px;
    width: 300px;
    padding: 5px;
    margin-right: 10px;
}

.App{
    background-color:rgb(249, 252, 254);
    margin-left: 5%;
    width: 450px;
    border: 1px solid gray;
    text-align: center;
    justify-content: center;
    padding: 3%;
    border-radius: 10px;
  }
  #submit{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(12, 11, 11);
    color: white;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
  }
  .Singletodo{
    width: 400px;
    padding: 5px;
    border: 1px solid gray;
    margin: 12px;
    border-radius: 10px;
    justify-content: space-around;
  }
