.navbar{
    display:flex;
    justify-content: space-around;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height:80px;
    align-items: center;
    background-color: yellowgreen;
}

.navbar>a{
    text-decoration: none;
    color:white;
   border-radius: 8px;
 
  
}
.navbar>a:nth-child(1){
    background-color: brown;
   
}
.navbar>a:nth-child(2){
   background-color: teal;
}
.navbar>a:nth-child(3){
    background-color: teal;
}
.navbar>a:nth-child(4){
    background-color: teal;
}

@media only screen and (min-width: 0px) and (max-width: 420px) {
    #appenddata{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
       padding:50px 0 0 80px
    }
}

@media only screen and (min-width: 421px) and (max-width: 720px) {
    #appenddata{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap:30px;
       padding:50px 0 0 80px
    }
}

@media only screen and (min-width: 721px) {
    #appenddata{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:30px;
       padding:50px 0 0 80px
    }
}
#card{
    border:1px solid silver;
    width:200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
#image{
    height:200px;
    
    
}
#namelanguagediv{
  display:flex;
  justify-content: space-around;
}
#starforkdiv{
    display:flex;
    justify-content: space-around;
}
#name{
    margin:"0 0 40px 0"
}